@model Fjtc.Model.SearchModel.ProductUserSearchParameter
@{
    Layout = null;
    var tableId = Guid.NewGuid().ToString().Replace("-", "");
    var pagerId = Guid.NewGuid().ToString().Replace("-", "");
    var formId = Guid.NewGuid().ToString().Replace("-", "");
}
<script>
    function resetPassword(url, data) {
        alertMsg.confirm('确定要重置密码?',
        {
            okCall:
                function () {
                    $.post(url, data, DWZ.ajaxDone, 'json');
                }
        });
    }
    function updateDomain() {
        var row = $("#@tableId").jqGrid("getRowData", $("#@tableId").jqGrid('getGridParam', 'selrow'));
        if (row.Id) {
            $("#updateDomain").attr("href", "@Url.Action("UpdateDomain")?navtab=edit&productUserId=" + row.Id);
            $("#updateDomain").trigger("click");
        }
    }
</script>
<div class="pageHeader">
    <form id="@formId" onsubmit="return navTabSearch(this);" method="post">
        @Html.Partial("_Pager", Model)
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        用户名：@Html.TextBoxFor(m => m.LoginName)
                    </td>
                    <td>
                        手机号：@Html.TextBoxFor(m => m.MobilePhone)
                    </td>
                </tr>
            </table>
        </div>
        <div class="subBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="Search()">查询</button></div></div></li>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <a href="javasript:;" target="dialog" rel="dialog_updateDomain" id="updateDomain" style="display: none;"></a>
                            <button type="button" onclick="updateDomain()">修改域名</button>
                        </div>
                    </div>
                </li>
             </ul>
        </div>
    </form>
</div>
<div class="pageContent">
    <table id="@tableId"></table>
    <div id="@pagerId"></div>
</div>
<script>
    function InitGrid() {
        $("#@tableId").jqGrid({
            url: '@Url.Action("List","ProductUser",new {area="ProductUser"})',
            mtype: 'post',
            datatype: "json",
            colModel: [
                { label: '用户id', name: 'Id', index: 'Id', hidden: true },
                { label: '昵称', name: 'Name', index: 'Name', align: 'center' },
                { label: '用户名', name: 'LoginName', index: 'LoginName', align: 'center' },
                { label: '手机号', name: 'MobilePhone', index: 'MobilePhone', align: 'center' },
                { label: '绑定域名', name: 'BindHost', index: 'BindHost', align: 'center' },
                { label: '注册时间', name: 'CreatedTime', index: 'CreatedTime', formatter: JsonDateFormat, align: 'center' },
                {
                    label: '操作', name: '', index: 'operate', align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var detail = "<a href='javascript:;' onclick=\"resetPassword('@Url.Action("ResetPassword")',{productUserId:" + rowObject.Id + "})\">重置密码</a>";
                        return detail;
                    }
                }
            ],
            rowNum: 20,
            rowList: [20, 50, 100],
            width: '100%',
            height: '375px',
            prmNames: jqGridDefaultConfig.prmNames,
            jsonReader: jqGridDefaultConfig.jsonReader,
            postData: FormToJson({ formId: '@formId' }),
            pager: '#@pagerId',
            viewrecords: true,
            caption: "客户列表"
        }).navGrid("#@tableId", { edit: false, add: false, del: false });
    }
    function Search() {
        $("#@tableId").jqGrid('setGridParam', { page: 1, postData: FormToJson({ formId: '@formId' }) }).trigger("reloadGrid");
    }
    $(function () {
        InitGrid();
    });
</script>